/* здесь используйте глобальные переменные */

// Основные цвета
$primary-font: "Oswald";
$secondary-font: "Lato";

$primary-text-color: #000000;
$secondary-text-color: #444444;

$basic-green-color: #68b738;

//  Основные breakpoint'ы
$laptop-width: 768px;
$desktop-width: 1440px;
