/* здесь используйте глобальные переменные */

// Основные цвета
$primary-font: "Oswald", sans-serif;
$secondary-font: "Lato", sans-serif;

$primary-text-color: #000000;
$secondary-text-color: #444444;
$white-text-color: #ffffff;

$basic-green-color: #68b738;

//  Основные breakpoint'ы
$tablet-width: 768px;
$desktop-width: 1440px;
