.additional__title {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 24px;
  color: $primary-text-color;
}

.additional__goods-title {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  color: $primary-text-color;
  text-transform: uppercase;
}

.additional__goods-prices {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $secondary-text-color;
}
