.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__socials {
  list-style-type: none;
  display: flex;
  gap: 24px;
  padding: 0;
}

.footer__social-icon {
  width: 28px;
  height: 22px;
}

.footer__social-link {
  color: $secondary-text-color;

  &:hover {
    fill: currentColor;
    color: $basic-green-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__author {
  text-decoration: none;
  vertical-align: middle;
}

.footer__author-text {
  font-family: $secondary-text-color;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-text-color;
}
.footer__author-icon {
  width: 27px;
  height: 34px;
}
