.header {
  background-color: $basic-green-color;
}

.navigation {
  background-color: #ffffff;
}

.navigation__list {
  list-style-type: none;
}

.navigation__link {
  font-family: $primary-font;
  font-size: 20px;
  line-height: 20px;
  color: $primary-text-color;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: uppercase;
}

.header__slogan {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
