.program-card__title {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 37px;
  color: $primary-text-color;
  text-transform: uppercase;
}

.program-card__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-text-color;
}

.program-card__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  color: $primary-text-color;

  &:active {
    opacity: 0.3;
  }
}
