.show-more-card__title {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $primary-text-color;
  text-transform: uppercase;
}

.show-more-card__description {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $secondary-text-color;
}
